@import "bootstrap";

html, body{
  margin: 0;
  padding: 0;
  min-height:100%;
  background-image: url('fried-chicken.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav{
  @include make-lg-column(12);
  margin-bottom: 0;
  .navbar-brand{
    display: flex;
    justify-items: center;
    align-items: center;

    img{
      width: 50px;
    }
  }

}

.jumbotron{
  @include make-lg-column(12);
  @include size(100%, 100vh);
  @include center-block;

  }
header.container{
  @include make-row();
  @include center-block;
  margin-bottom: 40px;

  img{
    @include img-responsive();
    @include center-block;
  }

  h1{
    @include center-block;
    @include make-xs-column(12);
    @include make-xs-column-offset(0);
    @include make-sm-column(12);
    @include make-sm-column-offset(0);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);
    background-color: #01B236;
    border-radius: 50%;
    text-align: center;
  }

}
.home {



  main.container {
    @include make-row();
    @include center-block;

    article.container {
      @include make-xs-column(12);
      @include make-xs-column-offset(0);
      @include make-sm-column(8);
      @include make-sm-column-offset(2);
      @include make-md-column(6);
      @include make-md-column-offset(3);
      @include make-lg-column(4);
      @include make-lg-column-offset(0);

      div.panel.panel-variant {
        @include panel-variant(#d01919, #d01919, #01B236, #000000);
      }
    }

  }
}

main.menu.container {
  @include make-row();
  @include center-block;

  section.container {
    @include make-row();

    div.list_wrapper{
      @include make-xs-column(12);
      @include make-xs-column-offset(0);
      @include make-sm-column(10);
      @include make-sm-column-offset(1);
      @include make-md-column(6);
      @include make-md-column-offset(0);
      @include make-lg-column(6);
      @include make-lg-column-offset(0);

      .list-group-item {

        .list-group-item-heading {

          .spicy {
            background-color: #761c19;
          }
          .new{
            background-color: #01B236;
          }
        }
      }
    }
  }
}




section.locations.container{
  @include make-row();
  @include center-block;

  article{
    @include size(100%, 100%);
    @include make-xs-column(12);
    @include make-xs-column-offset(0);
    @include make-sm-column(12);
    @include make-sm-column-offset(0);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(7);
    @include make-lg-column-offset(0);
    @include center-block;
    min-height: 400px;

    div#map{
      @include size(100%, 400px);
      border: 1px solid #d01919;
      border-radius: 10px;
      margin-bottom: 40px;
    }

  }
  aside.panel.panel-variant{
    @include panel-variant(#d01919, #222, #01B236, #000000);
    @include center-block;
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(8);
    @include make-sm-column-offset(2);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    @include make-lg-column(4);
    @include make-lg-column-offset(1);

    ul{
      list-style-type: none;
      padding: 0;
    }

  }
}

main.photos.container{
  @include make-row();
  @include center-block;

  section.photos.gallery.container-fluid {
    @include make-row();

    div.gallery {
      @include make-xs-column(12);
      @include make-xs-column-offset(0);
      @include make-sm-column(8);
      @include make-sm-column-offset(2);
      @include make-md-column(6);
      @include make-md-column-offset(3);
      @include make-lg-column(3);
      @include make-lg-column-offset(0);
    }


  }
}

nav.pagination.container{
  text-align: center;
  @include make-row();
  @include make-xs-column(12);
  @include make-xs-column-offset(0);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(3);
  @include make-lg-column(4);
  @include make-lg-column-offset(4);

}

main.contact.container-fluid{
  @include make-row();
  @include center-block;

  form{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);
    border: 1px solid #d01919;
    border-radius: 10px;
    background-color: $body-bg;
    padding: 15px;

    div.form-group{
      @include make-xs-column(12);
      @include make-xs-column-offset(0);
      @include make-sm-column(4);
      @include make-sm-column-offset(1);
      @include make-md-column(4);
      @include make-md-column-offset(1);
      @include make-lg-column(4);
      @include make-lg-column-offset(1);
    }

    div.form-group.message{
      @include make-row();
      @include make-xs-column(12);
      @include make-xs-column-offset(0);
      @include make-sm-column(10);
      @include make-sm-column-offset(1);
      @include make-md-column(10);
      @include make-md-column-offset(1);
      @include make-lg-column(10);
      @include make-lg-column-offset(1);
    }
    label{
      color: #d01919;
    }

    button.btn.btn-variant{
      @include button-variant(#d01919, #01B236, #000000);
      @include make-row();
      @include make-xs-column(6);
      @include make-xs-column-offset(3);
      @include make-sm-column(2);
      @include make-sm-column-offset(5);
      @include make-md-column(2);
      @include make-md-column-offset(5);
      @include make-lg-column(2);
      @include make-lg-column-offset(5);

      .glyphicon{
        font-size: 3em;
      }
    }
  }

}
