@import "bootstrap";

html, body{
  margin: 0;
  padding: 0;
  min-height:100%;
  background-image: url('fried-chicken.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav{
  @include make-lg-column(12);
  margin-bottom: 0;
  .navbar-brand{
    display: flex;
    justify-items: center;
    align-items: center;

    img{
      width: 50px;
    }
  }

}

.jumbotron{
  @include make-lg-column(12);
  @include size(100%, 100vh);

  }
.home {


  header{
    @include make-row();
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(6);
    @include make-lg-column-offset(3);
    margin-bottom: 40px;

    img{
      @include img-responsive();
      @include center-block;
    }

    h1{
      @include center-block;
      text-align: center;
    }

  }


  main {
    @include make-row();
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);

    article.container {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(4);
      @include make-lg-column(4);

      div.panel.panel-variant {
        @include panel-variant(#d01919, #222, #01B236, #000000);
      }
    }

  }
}

.menu{
  main.container {
    @include make-row();
    @include center-block;
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);

    div.container {
      .list-group {
        @include make-lg-column(6);

        .list-group-item {

          .list-group-item-heading {

            .spicy {
              background-color: #761c19;
            }
          }
        }
      }
    }
  }

  header{
    @include make-row();
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(6);
    @include make-lg-column-offset(3);
    margin-bottom: 40px;

    h1{
      @include center-block;
      text-align: center;
    }

  }
}
.locations.container{
  @include make-row();
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(12);
  @include make-lg-column(12);
  margin-top: 50px;

  header.container{
    @include make-row();
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(6);
    @include make-lg-column-offset(3);
    margin-bottom: 40px;

    h1{
      @include center-block;
      text-align: center;
    }

  }

  article{
    @include size(100%, 100%);
    @include make-row();
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(7);
    @include make-lg-column-offset(0);
    @include center-block;
    min-height: 400px;

    div#map{
      @include size(100%, 400px);
      border: 1px solid #d01919;
      border-radius: 10px;
      margin-bottom: 40px;
    }

  }
  aside.panel.panel-variant{
    @include panel-variant(#d01919, #222, #01B236, #000000);
    @include center-block;
    @include make-row();
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(8);
    @include make-sm-column-offset(2);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    @include make-lg-column(4);
    @include make-lg-column-offset(1);

    div.container{
      @include make-row();
      @include make-lg-column(12);
    }
  }
}



